{% extends "base.html" %}

{% block content %}
    <h1>{{ object.title }}</h1>
    <p>{{ object.description }}</p>
    <p>Severity: {{ object.get_severity_display }}</p>
    <p>Status: {{ object.get_status_display }}</p>
    <p>Expected result: {{ object.expected_result }}</p>

    {% if user == object.owner %}
        <a href="{% url 'bug-update' object.pk %}"> Edit</a>
        <a href="{% url 'bug-delete' object.pk %}"> Delete</a>
    {% endif %}
        <a href="{% url 'bug-list' %}">⬅ Back to list</a>
{% endblock %}